/*-------------------------------Information------------------------------
Author: Rachael Hill & Jessica Sears
Date: 08/18/2012
Project: The Borrower - Mobile
/*-------------------------------General------------------------------*/
html{
  background-color: #3b3e47;
}

.ui-content{
	background: #3b3e47;
	text-shadow: none;
	color: black;
}

.ui-bar-a {
	border: .1em solid #0e121d;
	background: #0e121d;
	color: black;
	font-weight: bold;
	text-shadow: none;
	background-image: -webkit-linear-gradient(#3e4047, #0e121d);
}

.ui-bar-a {
  text-shadow: none;
}

.ui-body-a,
.ui-overlay-a {
	background: #3b3e47;
	text-shadow: none;
	color: black;
}

.ui-btn-up-a {
	border: 1px solid #3e4047  /*{a-bup-border}*/;
	background: #0e121d /*{a-bup-background-color}*/;
	font-weight: bold;
	color: #3b3e47 /*{a-bup-color}*/;
	text-shadow: none;
}

.ui-btn-hover-a:visited,
.ui-btn-hover-a:hover,
.ui-btn-hover-a a.ui-link-inherit {
	border: .1em solid #0e121d /*{a-bdown-border}*/;
	background: #3e4047 /*{a-bdown-background-color}*/;
	font-weight: bold;
	color: #16172e /*{a-bdown-color}*/;
	text-shadow: none;
}

.ui-footer-fixed{
	background: #0a0c11;
	border: #0a0c11;
}

/*Footer Nav*/
.ui-btn-up-b {
	border: 1px solid #3e4047  /*{a-bup-border}*/;
	background: #0a0c11 /*{a-bup-background-color}*/;
	font-weight: bold;
	color: #3b3e47 /*{a-bup-color}*/;
	text-shadow: none;
	background-image: -webkit-linear-gradient(#181c27, #0a0c11);
	border: .1em solid #000;
}

.ui-btn-hover-b:visited,
.ui-btn-hover-b:hover,
.ui-btn-hover-b b.ui-link-inherit {
	border: .1em solid #0e121d /*{a-bdown-border}*/;
	background: #4f4f51 /*{a-bdown-background-color}*/;
	font-weight: bold;
	color: #16172e /*{a-bdown-color}*/;
	text-shadow: none;
	background-image: -webkit-linear-gradient(#a4a5a6, #4f4f51);	
}

/* Alerts */
.ui-btn-up-c a.ui-link-inherit{
	color: #afb3bf;
}

/* Alerts */
.ui-btn-up-c{
	border: .1em solid #16172e;
	background: #1f1f24;
	color: #afb3bf;
	font-weight: bold;
	text-shadow: none;
}

/* Counter theme on lists */
.ui-li-count{
  background: #afb3bf;
  border: .1em solid #16172e;
  color: #16172e;
}

/*Friends & Inventory-Own data divider bar*/
.ui-bar-z{
  background: #afb3bf;
  font-family: helvetica, arial, sans-serif;
  text-shadow: none;
  background-image: -webkit-linear-gradient(#afb3bf, #5c6377);
}

/* Inventory-Out data divider bar */
.ui-bar-o{
	border: 1px solid #eb7600;
	background: #614b59;
	color: black;
	font-weight: bold;
	text-shadow: none;
	background-image: -webkit-linear-gradient(#f4a85a, #eb7600);
}

#outBtn .ui-btn-inner{
	border: 1px solid #eb7600;
	background: #614b59;
	color: black;
	font-weight: bold;
	text-shadow: none;
	background-image: -webkit-linear-gradient(#f4a85a, #eb7600);
}

#inBtn .ui-btn-inner{
  border: 1px solid #2c7329;
	background: #614b59;
	color: black;
	font-weight: bold;
	text-shadow: none;
	background-image: -webkit-linear-gradient(#41ac3c, #2c7329);
}

/* Inventory-In data divider bar */
.ui-bar-i{
	border: 1px solid #2c7329;
	background: #614b59;
	color: black;
	font-weight: bold;
	text-shadow: none;
	background-image: -webkit-linear-gradient(#41ac3c, #2c7329);
}

li{
	list-style-type: none ;
}

#header h1{
  background: url(../img/handshake.png) no-repeat;
  width: 110px;
  height: 77px;
  padding: 0 0 .5em 0;
  margin: 0;
  text-indent: -9999px;
}

#header h2{
  padding: 0;
  margin: 0;
  position: absolute;
  top: 24px;
  left: 95px;
  color: #e2e6f2;
  font: 1.5em Georgia;
}

dl, dd, dt{
  margin: 0;
  padding: 0;
}

#friends img{
  padding: 1em;
}

#friendIcon img{
  padding-top: 6px;
}

#invent img{
  padding-top: 2px;
}

/*-------------------------------Splash------------------------------*/
#splashImg{
  background: url(../img/splashImg2.png) no-repeat;
  width: 283px;
  height: 163px;
  text-indent: -99999px;
  margin: 1em auto;
}

#splash p{
  text-align: center;
  padding: 0 .7em 0 .7em;
  color: #e2e6f2;
  font-style: oblique;
}

/*-------------------------------Explore------------------------------*/

#explore dt{
  font-size: .9em;
  text-shadow: 1px 1px 1px #2f3033;
}

#explore dd{
  font-size: .6em;
  text-shadow: 1px 1px 1px #2f3033;
}

.btnAction{
  float: right;
  display: inline-block;
  padding: .3em .3em;
  margin: 0em 0;
  color: #272a32 !important;
  text-decoration: none;
  font: 1em helvetica, arial, sans-serif;
  background:  -webkit-linear-gradient(#d7dae2, #646b80);
  text-shadow: 1px 1px 5px #32394e;
  border-radius: 3px; 
  -moz-border-radius: 3px; 
  -webkit-border-radius: 3px; 
  border: 1px solid #595f71;
}

aside h3{
  color: #d7dae2;
  margin: 0 0 .5em 0;
  text-shadow: 1px 1px 1px #31343c;
}

#popular img{
	  padding: 1.5em 0 0 1em;
}

#popular li{
  color: #2f3033;
}

#explore aside section{
  background: url(../img/alertBG.png) repeat;
  color: #989cab;
  padding: .75em .75em 1em 1em;
  border: dashed .1em #e2d1d1;
  opacity: 0.9;
}

#popular h2{
  color: #d7dae2;
  text-shadow: 1px 1px 1px #31343c;
  margin: 0;
  padding: 1.5em 0 0 0;
}

/*-------------------------------Friends------------------------------*/
#friends dt{
  font-size: 1.5em;
  text-shadow: 1px 1px 1px #2f3033;
}

#friends dd{
  font-size: 1em;
  text-shadow: 1px 1px 1px #2f3033;
}

#friends dl{
  padding-top: 1.2em;
}

#friends footer li img{
  padding: 0;
  margin: 0;
}

#friends #friendIcon img{
  padding-top: 5px;
}

/*-------------------------------Items Log------------------------------*/
#jumpNav img{
  padding: 0;
  margin: 0;
}

/*-------------------------------Items------------------------------*/
figure{
  width: 100%;
  padding: 0;
  margin: 0;
}

figure img{
  padding: 0;
  margin: 0;
}

#items{
  color: #e2e6f2;
  font-family: helvetica, arial, sans-serif;
}

#details h2{
  float: left;
  padding: 2em 0 0 .9em;
  margin: 0;
}

#items h3{
  float: right;
  padding: 0;
  margin: 0;
  padding: 0 1.5em 1em 0;
}

#items p{
  clear: both;
}

#status li{
  text-align: center;
}